visualstudio/Release
visualstudio/Debug
visualstudio/Static Release
visualstudio/*.sdf
visualstudio/*.suo
visualstudio/*.opensdf
visualstudio/*.psess
visualstudio/*.vsp
visualstudio/*.vspx
visualstudio/.vs
bin/*.iobj
bin/*.ipdb
bin/__ab.txt
bin/__uct.txt
bin/mcds_error_log.txt
bin/*.bsc
bin/*.png
bin/*.exe
bin/*.pdb
bin/*.ilk
bin/*.bmp
bin/*.dat
bin/*.swc
bin/*.swf
bin/*.txt
bin/tests/*.html
bin/qtdeploy
bin/states
bin/html/*
qt/build-PrismataAI-Desktop_Qt_5_6_0_MSVC2013_32bit-Release
qt/build-PrismataAI-Desktop_Qt_5_6_0_MSVC2013_32bit-Debug
source/*.o
source/main/*.o
source/benchmark/*.o
source/json/*.o
*.zip
*.stackdump
emscripten/*.js
emscripten/*.data
emscripten/*.mem
bin/graphviz/